body {
  background-color: #f5f5f5f5;
}

.test {
  border: 1px solid rgb(145, 29, 29);
  margin: 2px;
  padding: 2px;
}

.test0 {
  border: 1px solid #000;
  margin: 0 auto;
  background-color: rgb(238, 123, 123);
}

.test2 {
  border: 1px solid #000;
  width: 40%;
  height: 150px;
  background: darkgrey;
  float: left;
}

.test3 {
  border: 1px solid #000;
  width: 60%;
  background: #a2bbba;
  height: 150px;
  margin-left: 40%;
}

#header {
  background-color: #334455;
  border-color: #334455;
  padding: 0px;
  margins: 0px;
}

#footer {
  background-color: #334455;
  border-color: #334455;
  padding: 0px;
  margins: 0px;
}

.page-block {
  background-color: darkgwhiteray;
  padding: 24px;
  margins: 10px;
  border-raddius: 2px;
  border: 1px solid #777777;
}

#my-picture {
  border-radius: 30px;
}

#motto {
  color: rgb(65, 87, 185);
  font-weight: bold;
}

#languages {
  text-align: center;
}

#top-menu-bar {
  text-align: center;
  color: #fff;
  background-color: #334455;
}

#top-menu-bar li {
  margin: 0;
  padding: 0;
  display: inline;
}
#top-menu-bar a {
  margin: 2px 0 2px 0;
  color: ffffff;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  display: inline-block;
}

#top-menu-bar a:visited {
  color: #ffffff;
}

#top-menu-bar a:hover {
  color: #334455;
  background: #fff;
}

.favorite {
  font-weight: bold;
}
